In [147]:
import numpy as np
import pandas as pd

import mimesis as mim


from random  import randint

In [148]:
def get_names(n:int):
    person = mim.Person('ru')

    for i in  range(n):
        yield person.full_name()

def get_boleans(n:int):
    for i in range(n):
        yield randint(0,1)

for i in get_names(10):
    print(i)

Зейн Куриллов
Гульжамал Канайчева
Фонда Субочева
Туйаара Сгадова
Дейв Любанов
Милан Юкаев
Антони Недокладов
Самер Бельгибаев
Айниса Тукаева
Бенуа Васляев

In [262]:
count_player = 40


full_names = np.array([i for i in get_names(count_player)])
worker = np.array([i for i in  get_boleans(count_player)])

PLAYERS = pd.DataFrame(
    {
                    'Full_name':full_names, 
                   'Holiday_player':worker
    }
)
PLAYERS.to_csv('PLAYERS', header=False)

In [144]:
Campaigns = np.array([
    'https://dungeonsanddragons.ru/modulzip/Hoard%20of%20the%20Dragon%20Queen%20RUS.pdf',
    'https://dungeonsanddragons.ru/modulzip/DDEX1-2%20-%20Secrets%20of%20Sokol%20Keep%20RUS.pdf',
    'https://dungeonsanddragons.ru/modulzip/DDEX1-11%20-%20Dark%20Pyramid%20of%20the%20Sorcerer%20Isle%20RUS.pdf',
    'https://dungeonsanddragons.ru/ADVENTURES/DDEX2-1%20-%20City%20of%20Danger%20RUS.pdf',
    'https://dungeonsanddragons.ru/ADVENTURES/DDEX2-5%20-%20Flames%20of%20Kythorn%20RUS.pdf',
    'https://dungeonsanddragons.ru/ADVENTURES/DDEX2-7_-_Bounty_in_the_Bog_RUS.pdf'
])

Campaigns_names = np.array([
    'Hoard of the Dragon Queen',
    'Secrets of Sokol Keep',
    'Dark Pyramid of Sorcerer’s Isle',
    'City of Danger',
    'Flames of Kythorn',
    'Bounty in the Bog',
])

is_done = [1, 1, 0, 0, 0, 0]

data = np.array([Campaigns_names, Campaigns, is_done]).T

Campaigns_data = pd.DataFrame(data, columns=['name', 'link', 'is_done'])

Campaigns_data

,name,link,is_done
0,Hoard of the Dragon Queen,https://dungeonsanddragons.ru/modulzip/Hoard%2...,1
1,Secrets of Sokol Keep,https://dungeonsanddragons.ru/modulzip/DDEX1-2...,1
2,Dark Pyramid of Sorcerer’s Isle,https://dungeonsanddragons.ru/modulzip/DDEX1-1...,0
3,City of Danger,https://dungeonsanddragons.ru/ADVENTURES/DDEX2...,0
4,Flames of Kythorn,https://dungeonsanddragons.ru/ADVENTURES/DDEX2...,0
5,Bounty in the Bog,https://dungeonsanddragons.ru/ADVENTURES/DDEX2...,0

In [146]:
Campaigns_data.to_csv('Campaigns', header=False)

In [239]:
from mimesis import Generic as gnr

d = gnr('ru')

def get_dates(n:int):
    result = []
    for i in range(n):
        result.append(d.datetime.date())
    result.sort()
    return result

In [247]:
id_campaign = []
game_date = []
session_num = []

for i in range(Campaigns_data.shape[0]):
    session_len = randint(5, 16)
    for k in range(session_len):
        session_num.append(k)
        id_campaign.append(i)
    game_date += get_dates(session_len)

In [249]:

game_session = np.array([id_campaign, game_date, session_num]).T
SESSION = pd.DataFrame(game_session, columns = ['campaign_id', 'game_date', 'session_num'])
SESSION

   campaign_id   game_date session_num
0            0  2003-01-22           0
1            0  2010-06-01           1
2            0  2015-03-01           2
3            0  2015-06-19           3
4            0  2015-11-28           4
..         ...         ...         ...
62           5  2016-08-22           7
63           5  2018-05-10           8
64           5  2018-08-16           9
65           5  2018-11-26          10
66           5  2020-06-27          11

[67 rows x 3 columns]

In [252]:
SESSION.to_csv('SESSION', header=False)

In [278]:
count_characters = 30

sheets = [
    'https://www.belloflostsouls.net/wp-content/uploads/2019/05/summer-dnd-character-e1557187816476.jpg',
    'https://www.belloflostsouls.net/wp-content/uploads/2019/05/morty-dnd-character-e1557187853890.jpg',
    'https://www.belloflostsouls.net/wp-content/uploads/2019/05/jerry-dnd-character-e1557187843264.jpg',
    'https://www.belloflostsouls.net/wp-content/uploads/2019/05/beth-dnd-character-e1557187827359.jpg',
    'http://3.bp.blogspot.com/-yua8aVUS5bw/TzlYBkbEcWI/AAAAAAAAA9M/2cuNjUHxu1Y/s400/sheet1.JPG',
    'https://cs10.pikabu.ru/post_img/2019/09/17/6/1568713194139019535.png',
    'https://preview.redd.it/ehew8oahors11.jpg?width=640&crop=smart&auto=webp&s=66593cffcfeb9cae148f8811b58cd9a3c3ab292f',
    'https://i.imgur.com/xnHppyo.png',
]

NPC = [
    'https://dungeon.su/bestiary/375-lion/',
    'https://dungeon.su/bestiary/434-mage/',
    'https://dungeon.su/bestiary/139-dryad/',
    'https://dungeon.su/bestiary/184-flesh_golem/',
    'https://dungeon.su/bestiary/165-ghast/',
    'https://dungeon.su/bestiary/395-pone/',
    'https://dungeon.su/bestiary/254-oni/',
]

player_id = []
char_sheet = []

for i in range(count_characters):    
    p_id = randint(0, count_player)
    player_id.append(p_id)
    char_sheet.append(
        sheets[randint(0, len(sheets) - 1)]
    )


CHARACTERS = pd.DataFrame(np.array([player_id, char_sheet]).T, columns=['player_id', 'sheet'])

In [287]:
for i in range(len(NPC)):
    CHARACTERS.loc[i + count_characters] = {
        'player_id':None, 'sheet':NPC[i]
    }
CHARACTERS

   player_id                                              sheet
0         31                    https://i.imgur.com/xnHppyo.png
1         25  https://cs10.pikabu.ru/post_img/2019/09/17/6/1...
2         17  https://cs10.pikabu.ru/post_img/2019/09/17/6/1...
3         36  https://www.belloflostsouls.net/wp-content/upl...
4          1  http://3.bp.blogspot.com/-yua8aVUS5bw/TzlYBkbE...
5          5  http://3.bp.blogspot.com/-yua8aVUS5bw/TzlYBkbE...
6         30  http://3.bp.blogspot.com/-yua8aVUS5bw/TzlYBkbE...
7         32  https://www.belloflostsouls.net/wp-content/upl...
8         17  https://www.belloflostsouls.net/wp-content/upl...
9         20  https://www.belloflostsouls.net/wp-content/upl...
10        25  https://www.belloflostsouls.net/wp-content/upl...
11        14  https://preview.redd.it/ehew8oahors11.jpg?widt...
12        13  http://3.bp.blogspot.com/-yua8aVUS5bw/TzlYBkbE...
13         3  https://www.belloflostsouls.net/wp-content/upl...
14         2  http://3.bp.blogspot.com/-yua8aVUS5bw/TzlYBkbE...
15        36                    https://i.imgur.com/xnHppyo.png
16        31  https://www.belloflostsouls.net/wp-content/upl...
17        32                    https://i.imgur.com/xnHppyo.png
18         5  https://cs10.pikabu.ru/post_img/2019/09/17/6/1...
19        25                    https://i.imgur.com/xnHppyo.png
20        18  https://www.belloflostsouls.net/wp-content/upl...
21         2                    https://i.imgur.com/xnHppyo.png
22        12                    https://i.imgur.com/xnHppyo.png
23        25  https://www.belloflostsouls.net/wp-content/upl...
24        28  https://www.belloflostsouls.net/wp-content/upl...
25        34  https://www.belloflostsouls.net/wp-content/upl...
26        25  https://www.belloflostsouls.net/wp-content/upl...
27        21  https://preview.redd.it/ehew8oahors11.jpg?widt...
28        27  https://www.belloflostsouls.net/wp-content/upl...
29        39  https://cs10.pikabu.ru/post_img/2019/09/17/6/1...
30      None              https://dungeon.su/bestiary/375-lion/
31      None              https://dungeon.su/bestiary/434-mage/
32      None             https://dungeon.su/bestiary/139-dryad/
33      None       https://dungeon.su/bestiary/184-flesh_golem/
34      None             https://dungeon.su/bestiary/165-ghast/
35      None              https://dungeon.su/bestiary/395-pone/
36      None               https://dungeon.su/bestiary/254-oni/

In [293]:
CHARACTERS.to_csv('CHARACTERS', header=False)

In [305]:
pd.isnull(CHARACTERS.player_id[34])

True

In [317]:
count_char_id = CHARACTERS.shape[0]
count_sessions = SESSION.shape[0]

char_id = []
session_id = []
is_NPC = []

for i in range(count_sessions):
    for k in range(randint(3, 10)):
        session_id.append(i)
        character = randint(0, count_char_id - 1)
        char_id.append(
            character
        )
        if (pd.isnull( CHARACTERS.player_id[character])):
            is_NPC.append(1)
        else:
            is_NPC.append(0)

CHAR_IN_SESSION = pd.DataFrame(
    np.array([char_id, session_id, is_NPC]).T, columns=['char_id', 'session_id', 'is_NPC']
)

In [318]:
CHAR_IN_SESSION

     char_id  session_id  is_NPC
0         15           0       0
1         24           0       0
2         27           0       0
3          2           0       0
4         25           0       0
..       ...         ...     ...
431       24          66       0
432       14          66       0
433       18          66       0
434        9          66       0
435       15          66       0

[436 rows x 3 columns]

In [311]:
CHAR_IN_SESSION.to_csv('CHAR_IN_SESSION', header=False, index=False)

In [362]:
session_id = []
player_id = []

for ses_id in range(SESSION.shape[0]):
    char_id = CHAR_IN_SESSION[ses_id == CHAR_IN_SESSION.session_id].char_id

    players = CHARACTERS.loc[char_id].dropna().player_id.astype(int).tolist()
    
    session_id += [ses_id]*len(players)
    player_id += players

In [369]:
PLAYER_SESSION = pd.DataFrame(
    np.array([player_id, session_id ]).T, columns=[ 'player_id', 'session_id']
)

PLAYER_SESSION

     player_id  session_id
0           36           0
1           28           0
2           21           0
3           17           0
4           34           0
..         ...         ...
338         28          66
339          2          66
340          5          66
341         20          66
342         36          66

[343 rows x 2 columns]

In [370]:
PLAYER_SESSION.player_id.max()

39

In [371]:
PLAYER_SESSION.to_csv('PLAYER_SESSION', header=False, index=False)